@import "tailwindcss";

@theme {
    /* Colors */
    --color-background: #ffffff;
    --color-foreground: #111827; /* zinc-900 */
    --color-foreground-muted: #71717a; /* zinc-500 */
    --color-border: #e5e7eb; /* zinc-200 */
    --color-action: #dc2626;

    /* Inverted Button */
    --color-button-inverted-bg: #18181b; /* zinc-900 */
    --color-button-inverted-text: #ffffff;
    --color-button-inverted-bg-hover: #3f3f46; /* zinc-700 */

    /* Fonts */
    --font-sans: var(--font-inter);
    --font-heading: var(--font-oswald);
}

.dark {
    --color-background: #000000;
    --color-foreground: #ffffff;
    --color-foreground-muted: #a1a1aa; /* zinc-400 */
    --color-border: #27272a; /* zinc-800 */

    --color-button-inverted-bg: #ffffff;
    --color-button-inverted-text: #000000;
    --color-button-inverted-bg-hover: #e5e7eb; /* zinc-200 */
}
